<div class="container">
    <div class="alert alert-danger">

    </div>
    <div class="card login-card">
        <div class="login-form">
            <form class="form-horizontal" name="registerForm"role="form">
                <div class="form-group">
                    <label for="email">Account</label>
                    <input type="text" class="form-control" id="email" placeholder="Enter your login Id"
                        required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password"
                    required>
                </div>
                <div class="form-group">
                    <label for="repassword">Password Again</label>
                    <input type="password" class="form-control" id="repassword" placeholder="Enter password again"
                    required>
                </div>
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter your name"
                    required>
                </div>
                <div>password not same</div>
                <button type="submit" class="btn btn-success btn-lg">register</button>
            </form>
        </div>
    </div>
</div>
