
.team-list-container {
  margin-top: 50px;
  width: 50%;
  left: 25%;
  position: absolute;
  background-color: whitesmoke;
  padding: 20px;
  opacity: 0.95;
}

.team-list-container .team {
  margin: 5px;
  border: black 1px solid;
  border-radius: 6px;
  padding: 5px;
}

.team-list-container .team .team-info {}

.team-list-container .team .team-info .flag {
  height: 100px;
  width: 100px;
}

.team-list-container .team .team-info .rank {
  font-size: 70px;
  margin-top: 0%;
  color: cornflowerblue;
}

.team-list-container .team .team-info .name {
  font-size: 50px;
}
