.container {
  margin-top: 100px;
  background-color: floralwhite;
  width: 40%;
  left: 30%;
  position: absolute;
}

.login-card {
  width: 80%;
  margin: auto;
}

.login-form {
  padding: 10%;
}

input.ng-invalid.ng-dirty {
  background: pink;
}

input.ng-invalid.ng-touched {
  background: pink;
}
