<div class="container">
  <div class="card login-card">
    <div class="alert alert-danger" *ngIf="tLoginForm.invalid &&
            ((tUsername.dirty || tUsername.touched) ||
              (tPassword.dirty || tPassword.touched))">
      <ul>
        <li *ngIf="tUsername.invalid &&
                (tUsername.dirty || tUsername.touched) &&
                tUsername['errors']['required']">
          username is required.
        </li>
        <li *ngIf="tPassword.invalid &&
                (tPassword.dirty || tPassword.touched) &&
                tPassword['errors']['required']">
          password is required.
        </li>
      </ul>
    </div>
    <div class="login-form">
      <form class="form-horizontal" name="loginForm" role="form" #tLoginForm="ngForm">
        <div class="form-group">
          <label for="email">Username</label>
          <input type="text" class="form-control" id="email" placeholder="Enter Name" [(ngModel)]="username" name="username" #tUsername="ngModel"
            required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter password" [(ngModel)]="password" name="password"
            #tPassword="ngModel" required>
        </div>
        <button type="submit" class="btn btn-success btn-lg" [disabled]="tLoginForm.invalid">Login</button>
      </form>
    </div>
  </div>
</div>
